<html>

  <head>
    <meta charset='utf-8' />
    <link href='css/summoners.css' rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>LoL Watch</title>
  </head>

  <body>
    <h1 id="title">챔피언을 픽한 다음 눌러주세요.</h1>
    <hr>
    <div id="search-wrap">

      <div id="start">
        <div id="summoner-wrap">
          <div id="summonerName"></div>
          <div id="summonerTier"></div>
        </div>
        <button id="searchBtn" onclick="lolRealTimeRequest()">조회</button>
      </div>
    
      <div id="resetBtn" onclick="reset()">처음으로</div>

      <div id="loading" class="spinner">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
        <div class="dot dot5"></div>
        <div class="dot dot6"></div>
        <div class="dot dot7"></div>
        <div class="dot dot8"></div>
      </div>

    </div>
    <h1 id="version">협곡 시계 v.1.0.1</h1>
    <hr>
    <h1 id="info">- 사 용 법 -</h1>
    <div id="info-wrap">

      <p>1. 소환사 태그는 '#'을 제외하고 입력해 주세요.</p>
      <p>2. 밴픽이 진행되는 동안에는 인게임 조회가 안됩니다.</p>
      <p>3. 브라우저를 새로고침 하면 초기화 됩니다.</p>
      <p style="color: red; text-align: center;"><b>검색 버튼은 필요할때만 눌러주세요. (연타 X)</b></p>

    </div>
    <hr>
    <div id="footer">
      made by <a href="https://github.com/okonomiyakki">Okonomiyakki</a>
    </div>

    <div id="host" data-host-base-url={{data.HostBaseUrl}}></div>

    <script src='js/summoners.js'></script>
  </body>

</html>