<html>

  <head>
    <meta charset='utf-8' />
    <link href='/css/timer.css' rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>인베24 | 지금 협곡 시간은?</title>
  </head>

  <body>
    <h1 id="title"></h1>
    <hr>
    <div id="search-wrap">

      <div class="time-container">
        <div class="time-wrap">
          <p class="timeTitle">시작 시간</p>
          <p id="gameStartTime"></p>
        </div>
      </div>

      <div class="time-container">
        <div class="time-wrap">
          <p class="timeTitle">협곡 시간</p>
          <p id="time"></p>
        </div>
      </div>


      <div class="button-container">
        <button id="backBtn" onclick="back()">종료</button>
        {{!-- <button id="resetBtn" onclick="reset()">HOME</button> --}}
      </div>


      <div id="loading" class="spinner">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
        <div class="dot dot4"></div>
        <div class="dot dot5"></div>
        <div class="dot dot6"></div>
        <div class="dot dot7"></div>
        <div class="dot dot8"></div>
      </div>

    </div>
    <h1 id="version">협곡 시계 v.1.2.1</h1>
    <hr>
    <h1 id="info">- 사 용 법 -</h1>
    <div id="info-wrap">

      <p>1. 소환사 태그는 <b>'#'을 제외</b>하고 입력해 주세요.</p>
      <p>2. <b>밴픽이 끝난 직후</b>에 조회 버튼을 눌러 주세요.</p>
      <p>3. <b>타이머가 나왔을때</b>, 브라우저를 새로고침 하지마세요. <b>초기화</b> 됩니다.</p>
      <p style="color: red;">4. <b>조회 버튼은 필요할때만 눌러주세요. (연타시 30초간 비활성화)</b></p>

    </div>
    <hr>
    <div id="footer">
      <a href="https://discord.gg/m2Gqdxkd">버그 신고 &gt; </a>
    </div>

    <div id="host" data-host-base-url={{data.HostBaseUrl}}></div>

    <script src='/js/timer.js'></script>
  </body>

</html>