#title {
  font-size: 60px;
  width: 100%;
  background: #FFF2DD;
  margin: 0;
  text-align: center;
}

#search-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 59vh;
  margin: 0;
}

.time-container {
  text-align: left;
  margin-bottom: 20px;
}

.time-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 10px 10px 5px 10px;
  margin: 8px 0;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #68655b;
  text-align: center;
}

.timeTitle{
  font-size: 50px;
  color: white;
  padding: 0 40px
}

#gameStartTime {
  padding: 0 20px;
  color: #e2a55f;
  margin: auto;
  font-size: 150px;
  font-family: 'digital-7', sans-serif;
}

#time {
  padding: 0 20px;
  color: #5fe264;
  margin: auto;
  font-size: 150px;
  /* font-size: min(15vw, 4em); */
  font-family: 'digital-7', sans-serif;
}

@font-face {
  font-family: 'digital-7';
  src: url('digital-7.ttf');
}

.button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

#backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 110px;

  font-size: 45px;
  cursor: pointer;
  border: 1px solid #885cff;
  border-radius: 50px;
  color: white;
  background: #885cff;
}

#restartBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 110px;

  font-size: 45px;
  cursor: pointer;
  border: 1px solid #4171D6;
  border-radius: 50px;
  color: white;
  background: #4171D6;
}

#resetBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 110px;

  font-size: 45px;
  cursor: pointer;
  border: 1px solid #5ca3ff;
  border-radius: 50px;
  color: white;
  background: #5ca3ff;
}

#loading {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none;
}

#version {
  font-size: 40px;
  width: 100%;
  background: #FFEC8E;
  margin: 0;
  text-align: center;
}

#info {
  font-size: 30px;
  width: 100%;
  background: #FFF2DD;
  margin: 0;
  text-align: center;
  color: gray;
}

#info-wrap {
  font-size: 30px;
  width: 100%;
  background: #FFF2DD;
  margin: 0;
}

p {
  font-size: 25px;
  margin: 0;
  padding: 10px 50px;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url('../css/BMDOHYEON_ttf.ttf') format('truetype');
}

#footer {
  font-family: 'BMDOHYEON';
  margin: 0;
  text-align: center;
}

#footer>a {
  margin: 0 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  position: relative;
  animation: spin 1s linear infinite;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
}

.dot1 {
  animation: dot1Anim 1s linear infinite;
}

.dot2 {
  animation: dot2Anim 1s linear infinite;
}

.dot3 {
  animation: dot3Anim 1s linear infinite;
}

.dot4 {
  animation: dot4Anim 1s linear infinite;
}

.dot5 {
  animation: dot5Anim 1s linear infinite;
}

.dot6 {
  animation: dot6Anim 1s linear infinite;
}

.dot7 {
  animation: dot7Anim 1s linear infinite;
}

.dot8 {
  animation: dot8Anim 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dot1Anim {
  0%,
  20% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, -50px) rotate(360deg);
  }
}

@keyframes dot2Anim {
  0%,
  20% {
    transform: translate(29px, -38px);
  }
  100% {
    transform: translate(29px, -38px) rotate(360deg);
  }
}

@keyframes dot3Anim {
  0%,
  20% {
    transform: translate(50px, 0);
  }
  100% {
    transform: translate(50px, 0) rotate(360deg);
  }
}

@keyframes dot4Anim {
  0%,
  20% {
    transform: translate(29px, 38px);
  }
  100% {
    transform: translate(29px, 38px) rotate(360deg);
  }
}

@keyframes dot5Anim {
  0%,
  20% {
    transform: translate(0, 50px);
  }
  100% {
    transform: translate(0, 50px) rotate(360deg);
  }
}

@keyframes dot6Anim {
  0%,
  20% {
    transform: translate(-29px, 38px);
  }
  100% {
    transform: translate(-29px, 38px) rotate(360deg);
  }
}

@keyframes dot7Anim {
  0%,
  20% {
    transform: translate(-50px, 0);
  }
  100% {
    transform: translate(-50px, 0) rotate(360deg);
  }
}

@keyframes dot8Anim {
  0%,
  20% {
    transform: translate(-29px, -38px);
  }
  100% {
    transform: translate(-29px, -38px) rotate(360deg);
  }
}