#usage_carousel {
  width: 100%;

  overflow: hidden;
  cursor: pointer;
}

#usage_carousel_container {
  margin: 0 20px;
  gap: 10px;

  display: flex;
}

.usage_carousel_slide {
  height: 60px;
  
  color: #393e42;
  text-align: center;
  
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #c2d8fc;
  border-radius: 10px;
  background-color: #c2d8fc;
}

.usage_carousel_dots {
  margin: 5px 0;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.usage_carousel_dot {
  width: 10px;
  height: 6px;
  
  margin: 0 2px;
  padding: 0;

  border: 1px solid lightgray;
  border-radius: 25px;
  background-color: lightgray;

  cursor: pointer;
}

.usage_carousel_dot--selected {
  width: 20px;

  border: 1px solid gray;
  background-color: grey;
}