#usage_carousel {
  overflow: hidden;

  width: 100%;

  cursor: pointer;
}

#usage_carousel_container {
  /* margin: 0 40px; */
  margin: 0 20px;
  
  /* gap: 20px; */
  gap: 10px;

  display: flex;
}

.usage_carousel_slide {
  /* height: 150px; */
  height: 60px;
  
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #c2d8fc;
  /* border-radius: 20px; */
  border-radius: 10px;
  color: #393e42;
  background-color: #c2d8fc;
}

.usage_carousel_dots {
  /* margin: 10px 0; */
  margin: 5px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.usage_carousel_dot {
  /* margin: 0 5px; */
  margin: 0 2px;

  /* width: 5px; */
  width: 10px;
  /* height: 15px; */
  height: 6px;

  padding: 0;

  border: 1px solid lightgray;
  /* border-radius: 50px; */
  border-radius: 25px;
  background-color: lightgray;

  cursor: pointer;
}

.usage_carousel_dot--selected {
  /* width: 40px; */
  width: 20px;

  border: 1px solid gray;
  background-color: grey;
}