.time-container {
  text-align: left;
  margin-bottom: 20px;
}

.time-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 30px 10px 25px 10px;
  margin: 8px 0;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #68655b;
  text-align: center;
}

.timeTitle {
  font-size: 50px;
  color: white;
  padding: 0 40px;
}

#startTime {
  padding: 0 20px;
  color: #e2a55f;
  margin: auto;
  font-size: 150px;
  font-family: 'digital-7', sans-serif;
}

#realTime {
  padding: 0 20px;
  color: #5fe264;
  margin: auto;
  font-size: 150px;
  font-family: 'digital-7', sans-serif;
}

@font-face {
  font-family: 'digital-7';
  src: url('../font/digital-7.ttf');
}

@media (min-width: 1000px) {
  .time-wrap {
    padding: 15px 5px;
  }

  .timeTitle {
    font-size: 30px;
    padding: 0 20px 0 40px;
  }

  #startTime {
    font-size: 80px;
  }

  #realTime {
    font-size: 80px;
  }
}