#title {
  font-size: 60px;
  width: 100%;
  background: #FFF2DD;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

#version {
  padding-top: 5px;
  font-family: 'BMDOHYEON';
  font-weight: 10;
  font-size: 35px;
  width: 100%;
  background: #FFEC8E;
  margin: 0;
  text-align: center;
}

#version>a {
  font-family: 'BMDOHYEON';
  font-weight: 10;
  font-size: 35px;
  text-decoration: none;
  margin-left: 550px; /* 좌우로 벌리기 */
  color: gray
}

#info {
  font-size: 30px;
  width: 100%;
  background: #FFF2DD;
  margin: 0;
  text-align: center;
  color: gray;
}

#info-wrap {
  font-size: 30px;
  width: 100%;
  background: #FFF2DD;
  margin: 0;
}

p {
  font-size: 25px;
  margin: 0;
  padding: 10px 50px;
}

@font-face {
  font-family: 'BMDOHYEON';
  src: url('../font/BMDOHYEON_ttf.ttf') format('truetype');
}

#footer {
  font-family: 'BMDOHYEON';
  margin: 0;
  text-align: center;
}

#footer>p {
  font-family: 'BMDOHYEON';
  font-size: 15px;
  margin: 0 20px;
}


@media (min-width: 1000px) {
  #title {
    font-size: 30px;
  }

  #version {
    font-size: 25px;
  }

  #version>a {
    font-size: 25px;
    margin-left: 250px; /* 좌우로 벌리기 */
  }

  #info {
    font-size: 20px;
  }

  #info-wrap>p {
    font-size: 20px;
    padding: 10px 50px 10px 720px;
  }

  @font-face {
    font-family: 'BMDOHYEON';
    src: url('../font/BMDOHYEON_ttf.ttf') format('truetype');
  }

  #footer {
    font-family: 'BMDOHYEON';
    margin: 0;
    text-align: center;
  }

  #footer>p {
    font-family: 'BMDOHYEON';
    font-size: 15px;
    margin: 0 20px;
  }
}