#policy_links {
  padding: 0;
  gap: 5px;

  font-size: 10px;
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;

}

#legal {
  font-size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}