body {
  margin: 40px 0;
  padding: 0;

  font-family: "Do Hyeon", sans-serif;
  font-size: 40px;
}

header {
  margin-bottom: 40px;
}

@media (min-width: 1000px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  body {
    max-width: 70vw;
  }
}