#main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 59vh;
  margin: 0;
}

.input-wrap{
  display:flex;
  flex-direction:row;
  justify-content:flex-end
}

input {
  width: 500px;
  height: 100px;
  padding: 10px;
  margin: 5px;
  font-size: 50px;
}

#searchBtn {
  width: 50%;
  padding: 10px;
  margin: 35px 5px 5px 5px;
  font-size: 50px;
  cursor: pointer;
  color: #5c5cff;
  border: 1px solid #5c5cff;
  border-radius: 50px;
  color: white;
  background: #4171D6;
}

#loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  padding: 10px 20 10px 10px;
  background-color: white;
  color: #D13639;
  border: 3px solid #D13639;
  border-radius: 30px;
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
}


.loginIcon {
  margin-right: 10px;
}

@media (min-width: 1000px) {
  #main-wrap {
      height: 50vh;
  }

  input {
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 25px;
  }

  #searchBtn {
    width: 10%;
    font-size: 20px;
  }

  #loginBtn{
    font-size: 20px;
  }
}