#modal {
  display: none;
  align-items: center;
  justify-content: center;

  touch-action: none;
}

#modal_background {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;

  background-color: rgba(0, 0, 0, 0.7);
}

#modal_container {
  width: 800px;
  height: 500px;

  position: fixed;
  top: 300px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 40px;
  background-color: white;
}

#modal_title {
  height: 40px;

  font-size: 60px;
}

#modal_sub {
  font-size: 40px;
  color: grey;
}

#modal_notice {
  font-size: 35px;
  color: lightcoral;
}

#modal_control {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#modal_accept_button {
  width: 30%;
  height: 120%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: #5383E8;
  border-radius: 20px;
}

#modal_cancel_button {
  width: 50px;
  height: 50px;

  z-index: 101;

  position: relative;
  top: -110px;
  left: 550px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: grey;
  border-radius: 25px;

  cursor: pointer;
}

#modal_cancel_button_icon {
  font-size: 70px;
}