#rso_login_container {
  height: 170px;

  margin: 20px;
  margin-top: 0;

  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  color: white;

  background-color: #515163;
}

#rso_login_button {
  padding: 5px 10px 5px 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 17px;
  font-weight: bold;

  border: 2px solid white;
  border-radius: 15px;
  background-color: #515163;

  cursor: pointer;
}

#rso_login_icon {
  width: 40px;
  height: 40px;

  margin-right: 5px;
}

#summoner_container {
  margin: 20px;
  height: 400px;

  color :white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  text-align: left;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border-radius: 20px;
  background-color: #515163;
}

#summoner_profile{
  width: 100%;
  height: 150px;

  margin-top: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

#summoner_profile_icon_container {
  height: 120px;

  padding-left: 15px;
}

#summoner_profile_icon {
  width: 100px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 20px;
}

#summoner_profile_level {
  width: 50px;
  height: 15px;

  position: relative; 
  top: -8px;
  left: 25px;

  font-size: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background-color: #2b2b31;
}

#summoner_profile_account {
  width: 70%;
  height: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
}

#summoner_profile_account_name {
  width: 90%;
  height: 50px;

  font-size: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 40px;
}

#summoner_profile_account_tag {
  width: 90%;
  height: 30px;

  margin-bottom: 30px;

  color: #9E9DAA;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 40px;
}

.border_white {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#summoner_league{
  width: 100%;
  height: 160px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#summoner_league_icon {
  width: 100px;
  height: 100px;

  padding: 0 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border: 1px solid black;
  border-radius: 20px;
  background-color: #282830;
}

#summoner_league_current {
  width: 52%;
  height: 150px;

  font-size: 15px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#summoner_league_tier_info {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#summoner_league_current_tier_rank {
  width: 70%;

  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#summoner_league_current_league_points {
  width: 30%;

  color: #9E9DAA;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#summoner_league_score_info {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#summoner_league_current_score {
  width: 100%;

  margin-top: 10px;
  margin-bottom: 10px;

  color: #9E9DAA;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#summoner_fetch {
  width: 100%;
  height: 100px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.summoner_fetch_button {
  width: 30%;
  height: 40px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 7px;

  cursor: pointer;
}

#summoner_renewal_button {
  background-color: #5383E8;
}

#summoner_spectate_button {
  background-color: #FAB462;
}

