#main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 51vh;
  margin: 0;
}

.button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

#backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 110px;

  font-size: 45px;
  cursor: pointer;
  border: 1px solid #885cff;
  border-radius: 50px;
  color: white;
  background: #885cff;
}

@media (min-width: 1000px) {
  #main-wrap {
    height: 42vh;
  }

  #backBtn {
    width: 150px;
    height: 50px;
    font-size: 20px;
  }
}